<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FileSaver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FileSaver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <FileSaver.Properties.Settings>
            <setting name="TargetFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="CompressOnStart" serializeAs="String">
                <value>False</value>
            </setting>
        </FileSaver.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <FileSaver.Properties.Settings>
            <setting name="CompressionApplication" serializeAs="String">
                <value>C:\Program Files\7-Zip\7z.exe</value>
            </setting>
            <setting name="ArchiveExtension" serializeAs="String">
                <value>7z</value>
            </setting>
            <setting name="Interval" serializeAs="String">
                <value>00:15:00</value>
            </setting>
            <setting name="FileCompressionCommandLineFormat" serializeAs="String">
                <value>u -ssw "{0}" "{1}"</value>
            </setting>
            <setting name="FolderCompressionCommandLineFormat" serializeAs="String">
                <value>u -ms=off -ssw "{0}" "@{1}"</value>
            </setting>
        </FileSaver.Properties.Settings>
    </applicationSettings>
</configuration>